/* Search */
.inputBox_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 14em;
    width: fit-content;
    height: fit-content;
    background-color: #5c6370;
    border-radius: 0.8em;
    overflow: hidden;
}

.search_icon {
    height: 1em;
    padding: 0 0.5em 0 0.8em;
    fill: #abb2bf;
    cursor: pointer;
}

.search_icon:hover {
    fill: white;
}

.inputBox {
    background-color: transparent;
    color: #ffffff;
    outline: none;
    width: 100%;
    border: 0;
    padding: 0.5em 1.5em 0.5em 0;
    font-size: 1em;
}

::placeholder {
    color: #abb2bf;
}


/* Section books */

section#books .card {
    background-color: rgba(158, 79, 0, 0.46);
    border-width: 2px;
}

section#books .card.checked {
    background-color: rgb(178, 202, 175);
    border-color: rgb(113, 255, 146)
}

section#books .card img {
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.632)
}

section#books h5 {
    font-size: 1.1rem
}